<div>
  <div class="row" >
    <div class="col-lg-7 searchProducts">
      <mat-form-field class="example-form-field" appearance="fill">
        <mat-label>Search..</mat-label>
        <input matInput type="text" [(ngModel)]="searchVal">
        <!-- <mat-icon>search</mat-icon> -->
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>Sort By Price</mat-label>
        <mat-select [(ngModel)]="selectedValue" name="food">
          <mat-option value="low" selected>low to high</mat-option>
          <mat-option value="high">high to low</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div class="col-lg-5 addToCart">
      <button mat-raised-button color="primary" (click)="addToCart()">Add</button>
    </div>
  </div>
  <div class="row">
    <ng-container>
      <div class="col-lg-3" *ngFor="let data of getProducts | filter:searchVal:'title' | sort:selectedValue">
        <mat-card style="width: 18rem;height: 100%;margin-top: 2rem;">
          <img class="card-img-top" [src]="data.thumbnailUrl" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title" [routerLink]="['/products/item-detail/'+data.id]">{{data.title}}</h5>
            <p class="card-text">Item Id: {{data.id}}</p>
            <p class="card-text">Price: {{data.price | number : '1.2-2'}}</p>
            <p class="card-text">Qty: <input type="number" [(ngModel)]="data.qty"></p>
          </div>
        </mat-card>
      </div>
    </ng-container>
  </div>
</div>