<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel" *ngIf="checkAuth">
    <ol class="carousel-indicators">
        <li data-target="#carouselExampleIndicators"  *ngFor="let product of products?.products[0].images;let i=index;" class="{{i==0?'active':''}}"  data-slide-to="i"></li>
    </ol>
    <div class="carousel-inner">
        <div class="carousel-item {{i==0?'active':''}}" *ngFor="let product of products?.products[0].images;let i=index;">
            <img class="d-block w-100" [src]="product" alt="Third slide" height="20%">
            <div class="carousel-caption d-none d-md-block">
                <h5>{{this.products?.products[0].title}}</h5>
                <p>{{this.products?.products[0].description}}</p>
            </div>
        </div>
    </div>
    <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
</div>
<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel" *ngIf="!checkAuth">
    <ol class="carousel-indicators">
        <li data-target="#carouselExampleIndicators"  *ngFor="let product of products?.products[9].images;let i=index;" class="{{i==0?'active':''}}"  data-slide-to="i"></li>
    </ol>
    <div class="carousel-inner">
        <div class="carousel-item {{i==0?'active':''}}" *ngFor="let product of products?.products[9].images;let i=index;">
            <img class="d-block w-100" [src]="product" alt="Third slide" height="20%">
            <div class="carousel-caption d-none d-md-block">
                <h5>{{this.products?.products[9].title}}</h5>
                <p>{{this.products?.products[9].description}}</p>
            </div>
        </div>
    </div>
    <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
</div>

<div>
    <mat-card>
        <mat-card-header><h2 mat-card-title>Electronic</h2></mat-card-header>
        <div class="row">
            <div class="col-lg-3" *ngFor="let product of products?.products[0].images">
                <mat-card style="width: 18rem;height: 100%;margin-top: 2rem;">
                    <img class="card-img-top" [src]="product" alt="Card image cap">
                  </mat-card>
            </div>
        </div>
        
    </mat-card>
</div>