.bold{
    font-weight: bold;
}
.cartCard{
    background-color: #f6f6f6;
    height: 100%;
    width: 72rem;
    margin-left: 3rem;
    margin-top: 3rem;
    display: flex;
    justify-content: space-evenly;
}
.cartText{
    margin-top: 7rem;
}
.addToCart{
    display: flex;
    justify-content: flex-end;
    margin-top: 1rem;
    margin-left: -1rem;
}
.buttnSetup{
    margin-left:1rem
}